# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Cmakes
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
build
build-*
cmake-*
bin
Testing

# ctags
.tags*

# vim tmp files
*.swp
.*.swp
.*.swo

# hsa file
*.hsail
*.brig
isa.txt
*.isa

# debug file
*.debug

# snack file
*_brig.h
*.snackwrap.c

# Unit tests
gtest
*_unittest

# Apple OS X operating system
.DS_Store

# Gedit files
*~

# IDE file
.idea
.vscode

# Data file
data 
data/
data.tar.gz

# Auto benchmarking
compile_log.txt

# HIP
*.prehip

# Temp python files
*.pyc

# Jupyter Notebook
.ipynb_checkpoints
*.eps

*.bc
*.s
*.asm
*.hsaco
*.disasm
